<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/32097754da.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <Header class="home__header">
        <div class="home__header--caja">
            <figure class="home__img"><img src="/images/logo-mercado-liebre.svg"  alt=""></figure>
            <nav class="home__nav">
                <div class="home__header_nav--inp">
                    <form action=""> <input type="text" placeholder="Buscar productos,marcas"> 
                        <button type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
            </nav>
            <div class="home__header__nav--hand">
                <p class="home__header__nav--p"><i class="fas fa-hand-holding-usd fa-lg"></i>Compra en cuotas y sin tajeta de credito</p>
                        
            </div>              
                
        </div>        
                <div class="home__header__nav--a">
                    <ul class="home__header__nav--ofertas">
                
                        <li><a href="">Ofertas</a></li>
                        <li><a href="">Tiendas Oficilaes</a></li>
                        <li><a href="">Vender</a></li>
                        <li><a href="">Ayuda</a></li>
                    </ul>

                    <ul class="home__header__nav--shopping">    
                        <li><a href="">Creá tu cuenta</a> <i class="fa-regular fa-id-card"></i></li>
                        <li><a href="">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i></li>
                        <li><a href="">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
                    </ul>
                </div>
        
                <div class="burger-menu"><i class="fas fa-bars"></i></div>
             
    </Header> 
    <Main class="home__main">
        <figure class="home__img-2">
            <img src="/images/img-home-banner.jpg" alt="">
        </figure>  
        <h2>Basado en tu última visita</h2>
        <section class="main__section">
            
            
                <article class="main__section__article">
                    <figure>
                        <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="">
                    </figure>
                    <div class="article-box">
                        <i class="fas fa-truck" style="color: #3de232;"></i>
                        <h5 class="main__artcilce--precio">$6.770</h5>
                        <h5 class="main__article--descuento">40% OFF</h5>
                        <h3 class="main__article--titulo">Cafetera Moultinex</h3>
                    </div>
                </article>
            
            
                <article class="main__section__article">
                    <figure>
                        <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="">
                    </figure>
                    <div class="article-box">
                        <i class="fas fa-truck" style="color: #3de232;"></i>
                        <h5 class="main__article--precio">$230.00</h5>
                        <h5 class="main__article--descuento">20% off</h5>
                        <h3 class="main__article--titulo">MacBook Pro 2019</h3>
                    </div>
                </article>
            
            
                <article class="main__section__article">
                    <figure>
                        <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="">
                    </figure>
                    <div class="article-box">
                        <i class="fas fa-truck" style="color: #3de232;"></i>
                        <h5 class="main__article--precio">$70.500</h5>
                        <h5 class="main__article--descuento">10% off</h5>
                        <h3 class="main__article--titulo">Samsung Galaxy S10</h3>
                    </div>
                </article>
            
            
                <article class="main__section__article">
                    <figure>
                        <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="">
                    </figure>
                    <div class="article-box">
                        <i class="fas fa-truck" style="color: #3de232;"></i>
                        <h5 class="main__article--precio">$23.200</h5>
                        <h5 class="main__article--descuento">5% off</h5>
                        <h3 class="main__article--titulo">SmartTv Samsung 43"</h3>
                    </div>
                 </article>
            
            
           
            
            
        </section>
        <h2>Seccion de Ofertas</h2>
        <section class="main__section">
            <article class="main__section__article">
                <figure>
                    <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="">
                </figure>
                <div class="article-box">
                    <i class="fas fa-truck" style="color: #3de232;"></i>
                    <h5 class="main__article--precio">$6.770</h5>
                    <h5 class="main__article--descuento">40% off</h5>
                    <h3 class="main__article--titulo">Cafetera Moulinex</h3>
                </div>
            </article>
            <article class="main__section__article">
                <figure>
                    <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="">
                </figure>
                <div class="article-box">
                    <i class="fas fa-truck" style="color: #3de232;"></i>
                    <h5 class="main__article--precio">$230.00</h5>
                    <h5 class="main__article--descuento">20% off</h5>
                    <h3 class="main__article--titulo">MacBook Pro 2019</h3>
                </div>
            </article>
            <article class="main__section__article">
                <figure>
                    <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="">
                </figure>
                <div class="article-box">
                    <i class="fas fa-truck" style="color: #3de232;"></i>
                    <h5 class="main__article--precio">$70.500</h5>
                    <h5 class="main__article--descuento">10% off</h5>
                    <h3 class="main__article--titulo">Samsung Galaxy S10</h3>
                </div>
            </article>
            <article class="main__section__article">
                <figure>
                    <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="">
                </figure>
                <div class="article-box">
                    <i class="fas fa-truck" style="color: #3de232;"></i>
                    <h5 class="main__article--precio">$23.200</h5>
                    <h5 class="main__article--descuento">5% off</h5>
                    <h3 class="main__article--titulo">SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>
       
    </Main>
    <footer class="home__footer">
        <section>
            <article class="home__footer__ar">
                <div class="home__footer__div"><i class="fa-solid fa-credit-card"></i></div>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>
                        Con Mercado Liebre Cash, tenés cuotas sin<br> interés con tarjeta o efectivo en
                        puntos de pago.<br> ¡Y siempre es seguro!
                    </p>
                
            </article>
        </section>
        <section>
            <article class="home__footer__ar">
                <div class="home__footer__div"><i class="fa-solid fa-gift"></i></div>
                    <h4>Envío gratis desde $ 2.500</h4>
                    <p>
                        Solo por estar registrad@ en Mercado Liebre<br> tenés envíos gratis en miles de
                        productos. Es<br> un beneficio de Mercado Puntos
                    </p>
                
            </article>
        </section>
        <section>
            <article class="home__footer__ar">
                <div class="home__footer__div"><i class="fa-solid fa-user-shield"></i></div>
                    <h4>Seguridad, de principio a fin</h4>
                    <p>
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre<br> no hay nada que no puedas hacer porque<br>
                         estás siempre protegid@.
                    </p>
                
            </article>    
        </section>
        <section><h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5></section>
    </footer>
</body>
</html>